<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1024724278185-rmkms7c5pq5kr2rf6v3gi93ofp4isv98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024724278185-rmkms7c5pq5kr2rf6v3gi93ofp4isv98</string>
	<key>API_KEY</key>
	<string>AIzaSyDXwqq83WDeBfHsPLw7gXEhDJUK_YfZSd4</string>
	<key>GCM_SENDER_ID</key>
	<string>1024724278185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tw.ilink.pushnotifs</string>
	<key>PROJECT_ID</key>
	<string>pushmynofifs-59a75</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynofifs-59a75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024724278185:ios:8121112148240ed4</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynofifs-59a75.firebaseio.com</string>
</dict>
</plist>